# ---- Maven
target/
dependency-reduced-pom.xml

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# ---- Eclipse
.classpath
.project
.settings

.java-version
solidity-its/src/test/resources/*

# ---- Scanner
.scannerwork

# ---- Visual Studio Code
.vscode

# ---- antlr4
solidity-frontend/src/main/antlr4/org/sonarsource/solidity/frontend/.antlr
